<p-dialog #dialog [(visible)]="visible" [modal]="true" [header]="isEditMode ? 'Editar Posición' : 'Nueva Posición'"
    [maximizable]="true" [style]="{width: '80vw'}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="content-block">
            <div class="row-block">
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="name" type="text" pInputText [(ngModel)]="position.name" required>
                        <label for="name">Nombre</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="description" type="text" pInputText [(ngModel)]="position.description">
                        <label for="description">Descripción</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-30">
                    <p-floatLabel>
                        <p-autoComplete id="area" [(ngModel)]="selectedArea" [dropdown]="true"
                            [suggestions]="filteredAreas" (completeMethod)="filterArea($event)" optionLabel="name"
                            [forceSelection]="true" appendTo="body">
                        </p-autoComplete>
                        <label for="area">Área</label>
                    </p-floatLabel>
                </div>
            </div>

            <div class="row-block">
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <p-autoComplete id="parentPosition" [(ngModel)]="selectedParentPosition" [dropdown]="true"
                            [suggestions]="filteredPositions" (completeMethod)="filterPosition($event)"
                            optionLabel="name" [forceSelection]="true" appendTo="body">
                        </p-autoComplete>
                        <label for="parentPosition">Jefatura Directa</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-65">
                    <p-floatLabel>
                        <p-autoComplete id="roles" [(ngModel)]="selectedRoles" [dropdown]="true"
                            [suggestions]="filteredRoles" (completeMethod)="filterRole($event)" optionLabel="name"
                            [forceSelection]="true" [multiple]="true" appendTo="body">
                        </p-autoComplete>
                        <label for="roles">Roles</label>
                    </p-floatLabel>
                </div>
            </div>

            <div class="row-block" *ngIf="selectedRoles.length > 0">
                <div class="row-item-block-100">
                    <p-chips [ngModel]="selectedRoles" disabled [field]="'name'"></p-chips>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button *ngIf="!isEditMode" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="createPosition()"></button>
        <button *ngIf="isEditMode" pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
            (click)="updatePosition()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" severity="secondary"
            (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>