<p-dialog #dialog [(visible)]="visible" [modal]="true" [header]="'Ver Persona'" [maximizable]="true"
    [style]="{width: '80vw'}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="content-block">
            <div class="row-block">
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="firstName" type="text" pInputText [(ngModel)]="person.firstName" readonly
                            class="readonly-input">
                        <label for="firstName">Nombres</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="lastName" type="text" pInputText [(ngModel)]="person.lastName" readonly
                            class="readonly-input">
                        <label for="lastName">Apellidos</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-30">
                    <p-floatLabel>
                        <input id="phone" type="text" pInputText [(ngModel)]="person.phone" readonly
                            class="readonly-input">
                        <label for="phone">Telefono</label>
                    </p-floatLabel>
                </div>
            </div>

            <div class="row-block">
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="nationality" [(ngModel)]="nationality" type="text" pInputText readonly
                            class="readonly-input">
                        <label for="nationality">Nacionalidad</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="documentNumber" type="text" pInputText [(ngModel)]="person.documentNumber" readonly
                            class="readonly-input">
                        <label for="documentNumber">Numero de documento</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-30">
                    <p-floatLabel>
                        <input id="gender" [(ngModel)]="gender" type="text" pInputText readonly class="readonly-input">
                        <label for="gender">Género</label>
                    </p-floatLabel>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" severity="secondary"
            (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>