.content-block {
    font-family: 'Roboto', sans-serif;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.row-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;

    >* {
        padding: 0 0.5rem;
    }

    > :first-child {
        padding-left: 0;
    }

    > :last-child {
        padding-right: 0;
    }
}

.row-item-block-100 {
    width: 100%;
}

.field-radiobutton {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}