<div class="background">
    <div class="blur-background"></div>
    <div class="login-container">
        <div class="login-left">
            <img src="assets/login-gobierno-regional-tacna.jpg" alt="Login" />
        </div>
        <div class="login-right p-fluid">
            <p class="subtitle">Bienvenido a SGTD</p>
            <h2>Iniciar Sesión</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4">
                <div class="row-block">
                    <div class="row-item-block-100">
                        <p-floatLabel>
                            <input id="username" type="text" pInputText formControlName="username"
                                [ngClass]="{'ng-invalid ng-dirty': submitted && loginForm.get('username')?.hasError('required')}">
                            <label for="username">Usuario</label>
                        </p-floatLabel>
                        <small class="p-error" *ngIf="submitted && loginForm.get('username')?.hasError('required')">
                            El usuario es obligatorio.
                        </small>
                    </div>
                </div>
                <div class="row-block">
                    <div class="row-item-block-100">
                        <p-floatLabel>
                            <p-password id="password" formControlName="password" [toggleMask]="true"
                                [ngClass]="{'ng-invalid ng-dirty': submitted && loginForm.get('password')?.hasError('required')}"
                                [feedback]="false" styleClass="w-full">
                            </p-password>
                            <label for="password">Contraseña</label>
                        </p-floatLabel>
                        <small class="p-error" *ngIf="submitted && loginForm.get('password')?.hasError('required')">
                            La contraseña es obligatoria.
                        </small>
                    </div>
                </div>
                <div class="field mt-6">
                    <button pButton pRipple label="Iniciar Sesión" icon="pi pi-sign-in"
                        class="p-button-primary w-full"></button>
                </div>
            </form>
        </div>
    </div>
</div>