<p-dialog #dialog [(visible)]="visible" [modal]="true" [header]="isEditMode ? 'Editar Rol' : 'Nuevo Rol'"
    [maximizable]="true" [style]="{width: '40vw'}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="content-block">
            <div class="row-block">
                <div class="row-item-block-100">
                    <p-floatLabel>
                        <input id="name" type="text" pInputText [(ngModel)]="role.name" required>
                        <label for="name">Nombre</label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="row-block">
                <div class="row-item-block-100">
                    <p-floatLabel>
                        <input id="name" type="text" pInputText [(ngModel)]="role.description" required>
                        <label for="name">Descripción</label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="row-block">
                <div class="row-item-block-100">
                    <p-table [value]="permissionMatrix" [scrollable]="true" scrollHeight="400px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col" style="min-width: 200px">Módulo</th>
                                <th scope="col" style="width: 100px">
                                    <p-button label="Todos" size="small" [outlined]="true"
                                        (onClick)="toggleAllModules()">
                                    </p-button>
                                </th>
                                <th scope="col" style="width: 100px">Crear</th>
                                <th scope="col" style="width: 100px">Leer</th>
                                <th scope="col" style="width: 100px">Modificar</th>
                                <th scope="col" style="width: 100px">Eliminar</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-permission>
                            <tr>
                                <td>{{permission.componentName}}</td>
                                <td class="text-center">
                                    <p-button label="Todos" size="small" [outlined]="true"
                                        (onClick)="toggleRowPermissions(permission)">
                                    </p-button>
                                </td>
                                <td class="text-center">
                                    <p-checkbox [(ngModel)]="permission.create" [binary]="true">
                                    </p-checkbox>
                                </td>
                                <td class="text-center">
                                    <p-checkbox [(ngModel)]="permission.read" [binary]="true">
                                    </p-checkbox>
                                </td>
                                <td class="text-center">
                                    <p-checkbox [(ngModel)]="permission.update" [binary]="true">
                                    </p-checkbox>
                                </td>
                                <td class="text-center">
                                    <p-checkbox [(ngModel)]="permission.delete" [binary]="true">
                                    </p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider />
        <button *ngIf="!isEditMode" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="createRole()"></button>
        <button *ngIf="isEditMode" pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
            (click)="updateRole()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" severity="secondary"
            (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>