<p-dialog #dialog [(visible)]="visible" [modal]="true" [header]="'Ver Posición'" [maximizable]="true"
    [style]="{width: '80vw'}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="content-block">
            <div class="row-block">
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="name" type="text" pInputText [(ngModel)]="position.name" readonly
                            class="readonly-input">
                        <label for="name">Nombre</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="description" type="text" pInputText [(ngModel)]="position.description" readonly
                            class="readonly-input">
                        <label for="description">Descripción</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-30">
                    <p-floatLabel>
                        <input id="area" type="text" pInputText [(ngModel)]="areaName" readonly class="readonly-input">
                        <label for="area">Área</label>
                    </p-floatLabel>
                </div>
            </div>

            <div class="row-block">
                <div class="row-item-block-35">
                    <p-floatLabel>
                        <input id="parentPosition" type="text" pInputText [(ngModel)]="parentPositionName" readonly
                            class="readonly-input">
                        <label for="parentPosition">Jefatura Directa</label>
                    </p-floatLabel>
                </div>
                <div class="row-item-block-65" *ngIf="selectedRoles.length > 0">
                    <p-floatLabel>
                        <p-chips id="roles" [ngModel]="selectedRoles" disabled [field]="'name'"></p-chips>
                        <label for="roles">Roles</label>
                    </p-floatLabel>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" severity="secondary"
            (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>