<p-toast />
<p-confirmDialog />

<div class="button-block">
    <label class="label-button-block">Lista de Tipo de Documentos</label>
    <p-button label="Registrar Tipo Documento" icon="pi pi-plus" (onClick)="createComponent()"></p-button>
</div>

<div class="table-block">
    <p-table #dt1 [value]="documentTypes" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true" [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="table-button-block">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue"
                        (input)="applyFilterGlobal($event, 'contains')" (keydown.escape)="clearSearchText(dt1)"
                        placeholder="Buscar módulo" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Nombre
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Modalidad
                    </div>
                </th>
                <th style="min-width:10rem; text-align: center">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documentType>
            <tr>
                <td>{{documentType.name}}</td>
                <td>
                    {{documentType.isUploadable ? 'Upload' : 'Download'}}
                </td>
                <td>
                    <div class="flex justify-content-between" style="text-align: center">
                        <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="secondary"
                            (click)="showComponent(documentType.id)"></p-button>
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info"
                            (click)="updateComponent(documentType.id)"></p-button>
                        <p-button pRipple icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                            (click)="deleteComponent(documentType.id)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2">No se encontraron registros</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-document-type-show></app-document-type-show>
<app-document-type-new-edit (dialogClosed)="onDialogClosed($event)"></app-document-type-new-edit>