<p-toast />
<p-confirmDialog />

<div class="button-block">
    <label class="label-button-block">Lista de Áreas</label>
    <p-button label="Registrar Área" icon="pi pi-plus" (onClick)="createArea()"></p-button>
</div>

<div class="table-block">
    <p-table #dt1 [value]="areas" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        [globalFilterFields]="['name', 'description', 'status']">
        <ng-template pTemplate="caption">
            <div class="table-button-block">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue"
                        (input)="applyFilterGlobal($event, 'contains')" (keydown.escape)="clearSearchText(dt1)"
                        placeholder="Buscar área" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Nombre
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Descripción
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Estado
                    </div>
                </th>
                <th style="min-width:10rem">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-area>
            <tr>
                <td>{{area.name}}</td>
                <td>{{area.description}}</td>
                <td>{{area.status ? 'Activo' : 'Inactivo'}}</td>
                <td>
                    <div class="flex justify-content-between">
                        <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="secondary"
                            (click)="showArea(area.id)"></p-button>
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info"
                            (click)="updateArea(area.id)"></p-button>
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                            (click)="deleteArea(area.id)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No se encontraron registros</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- <app-area-show></app-area-show> -->
<app-area-new-edit (dialogClosed)="onDialogClosed($event)"></app-area-new-edit>