<div class="button-container">
    <div class="buttons">
        <button class="icon-button" (click)="loadFilesComponent()">
            <i class="pi pi-fw pi-folder-open"></i>
            Archivos
        </button>
        <button class="icon-button">
            <i class="pi pi-fw pi-file-check"></i>
            Trámite Documentario
        </button>
        <button class="icon-button">
            <i class="pi pi-fw pi-calendar"></i>
            Calendario
        </button>
    </div>
    <div class="footer-text">
        Bienvenido #usuario
    </div>
</div>